 h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 60px;
  color: #F3DFA2
}

.articles {
  font-family: 'Signika Negative', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 50px;

}

.articles img{
  width: 250px;
  height:250px;
  object-fit: cover;
  border: solid #EFE6DD 2px;
  
}

.articles h3 {
  font-family: 'Playfair Display', serif;
  color: #BB4430;
  font-weight: bold;
  font-size: 25px

  

}

