 h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 50px
}

.articles {
  font-family: 'Signika Negative', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 50px;

}

.articles img{
  width: 250px;
  height:250px;
  object-fit: cover;
  border: solid yellow 2px;
  
}

.articles h3 {
  font-family: 'Playfair Display', serif;
  color: maroon;
  font-weight: bold;
  font-size: 25px
  

}

